<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Logowanie Spring Security -->
    <logger name="org.springframework.security" level="TRACE" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Domyślny poziom logowania aplikacji -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>